<div style="margin-top: 50px; margin-bottom: 50px;">
  <div class="mx-auto" style="width: 80%; text-align: left;">
    <div class="row">
      <div class="col-xs-3 card" style="margin-right: 50px;">
        <img style="height:200px; width:200px;" src="assets/pictures/john.png" alt="picture of john">
      </div>
      <div class="col-xs-7 align-items-center d-flex justify-content-center">
        <i>"Anything worth doing is worth doing right." - Hunter S. Thompson </i>
      </div>
    </div>
    <p>
      <br> This quote embodies all that I hope to achieve with my projects and with this site. My name is John and I am a recent Computer Science graduate
      from Northeastern Illinois University. I enjoy working on website development and .net development projects.
      I like to challenge myself by creating unique and inspired projects using the latest technologies. I enjoy reading different
      Information technology news, especially about cybersecurity. We need to protect our data those at all times and learn more ways how to protect it.</p>


    <br>
    <p> I plan on showing you the following, on this blog: </p>
    <br>
    <ul style="list-style-type: disc;">
      <li>Discuss some methods on how we can strengthen our internet security.</li>
      <li>Discuss Information technology news.</li>
      <li>Personal projects.</li>
      <li>Video and text tutorials about different programming topics.</li>
    </ul>
    <br>
    <p>
      If you have any questions,feedbacks or suggestions. You can send me an email at JohnCervantes@protonmail.com.
      <br> I would be happy to answer any concerns that you have.
    </p>
    <br>
    <strong>Thank you for visiting my website &#9786;</strong>
  </div>
</div>